@tailwind base;
@tailwind components;
@tailwind utilities;

.profileImage{
    border-radius : 30% 70% 70% 30% / 30% 30% 70% 70% ;
    transition: border-radius 0.3s ease-in-out;
    

}
.profileImage:hover {
    border-radius: 31% 41% 35% 34% / 26% 28% 35% 31% ;
}